@import "src/UiWiWidget/styles/abstracts/_variables";

#UiWiWidget {
  .maritalStatus.Result {
    .beziehungen {
      .question > h3 {
        margin: auto 20px;
      }

      .question-overlay {
        margin-bottom: 70px;
      }

      .result-label {
        font: 1.2em/1em Arial;
        display: block;
        text-align: left;

        &.selected {
          font-weight: 600;
        }
      }

      .subtitle {
        margin-top: 40px;
      }

      .choice-tab {
        font: normal normal normal 20px/23px Arial;
        text-align: left;
        padding: 10px 0 3px 10px;

        &.selected {
          font-weight: 600;
        }
      }

      .slider-thumb {
        width: 30px;
        height: 45px;
        background: no-repeat center center/100% url("./images/tracker-gray.png");
      }

      .result-progress-bar {
        .progress-bar-label {
          width: inherit;

          .slider-wrapper .slider-bar-wrapper {
            height: 20px;
            background: #878787 0 0 no-repeat padding-box;
            box-shadow: 0 2px 5px #737373;
          }
        }

        .progress-bar-filler {
          display: flex;
          align-items: center;
        }
      }

      .choice-tab {
        font-size: 20px;
      }

      .round {
        height: 15px;

        .progress-bar {
          height: inherit;
          width: 87%;
          text-align: left;
          display: flex;
          align-items: center;
          position: relative;
          border: 1px solid $progress-bar-filler-grey !important;

          .progress-bar-label {
            position: absolute;
          }
        }
      }

      .progress-bar-filler {
        box-shadow: 0 3px 6px #0000004D;
      }

      .progress-bar-filler {
        background: $progress-bar-filler-grey;
      }

      .top-labels-container {
        display: inline-flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        margin-bottom: 10px;

        span {
          font-size: 15px;
          font-weight: bold;
          line-height: 18px;
        }

        span:last-child {
          width: 40%;
        }

        :first-of-type {
          text-align: left;
        }

        :last-child {
          text-align: right;
        }
      }

      .result-progress-bar {
        margin: 10px 0;

        .result-label {
          font: normal normal normal 20px/23px Arial;

          &.selected {
            font-weight: 600;
          }
        }

        .slider-bar-wrapper {
          position: relative;
        }

        .slider-wrapper {
          .slider-bar-wrapper {
            height: 20px;

            .label-value {
              position: absolute;
              top: 2px;
              right: 5px;
              color: $white;
              font-weight: normal;

              &.selected {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 400px) {
      .beziehungen {
        .result-label {
          font-size: 1.1em;
        }
      }
    }
  }

  .maritalStatus.selectGroup {
    .beziehungen {
      .subtitle {
        font-size: 22px;
        margin: 0 60px 20px 60px;

        @media only screen and (max-width: 400px) {
          font-size: 20px;
          line-height: 26px;
          margin: 0 20px 20px 20px;
        }
      }

      .select-button {
        border-radius: 4px;
        box-shadow: 0 2px 6px #737373;
        width: 134px;
        display: inline-grid;
        line-height: 1em;
        align-items: center;
        min-width: 130px;
        min-height: 60px;
        font-size: 20px;
        padding: 10px 20px;
        margin: 8px;

        &:active {
          background: $selected-beziehungen;
        }
      }

      @media only screen and (max-width: 400px) {
        .subtitle {
          margin: 0 30px 10px;
        }
      }
    }
  }

  //Vote-specific styling
  .maritalStatus.Vote {
    .beziehungen {
      .slider-wrapper .slider-thumb {
        width: 52px;
        height: 92px;
        border-radius: 0;
      }

      .slider-wrapper {
        margin-top: 30px;
      }

      .slider-labels-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        font: 18px $font-default-serif;

        .left-text, .right-text {
          width: 35%;
          line-height: 20px;
        }

        .left-text {
          margin-left: 10px;
          text-align: left;
        }

        .right-text {
          margin-right: 10px;
          text-align: center;
        }
      }

      .quiz {
        position: relative;
      }

      .subtitle {
        margin: 40px 50px 60px 50px !important;
        @media only screen and (max-width: 400px) {
          margin: 20px 20px 60px 20px !important;
        }
      }

      .slider-wrapper, .slider-labels-container {
        margin: 0 auto;
      }

      .slider-wrapper {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 40px;

        .slider-outer-wrapper,
        .slider-wrapper-background,
        .slider-bar-wrapper {
          width: 100%;
        }

        .slider-bar-wrapper,
        .slider-wrapper-background {
          height: 15px;
        }

        .slider-wrapper-background {
          opacity: 0.9;
        }

        .slider-outer-wrapper {
          height: 36px;
          display: flex;
          transform: scale(1);
          cursor: pointer;
        }

        .slider-dot {
          height: 15px;
          width: 15px;
          border-radius: 15px;
        }
      }

      .label, .select-button, .label-ergebnis {
        border-radius: 0;
      }

      #renderThumb {
        bottom: -65px;
      }

      .slider-bar-wrapper {
        background: $grill-bar-color 0 0 no-repeat padding-box;
        border-radius: 4px;
      }

      span.choice-tab {
        background: none;
        display: table-cell;
        padding: 10px 10px;
        width: 86px;
        text-decoration: none;
        text-align: center;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 15px;
      }

      .progress-selected, .progresss {
        display: table-cell;
        width: 70%;
      }

      .result-progress-bar {
        .progress-bar {
          width: 85%;
        }
      }

      &.basic {
        .slider-thumb {
          background: no-repeat center center/100% url("./images/tracker-beziehungen-basic.png");
        }
      }

      &.hedonistic {
        .slider-thumb {
          background: no-repeat center center/100% url("./images/tracker-beziehungen-hedonistic.png");
        }
      }

      &.interactive {
        .slider-thumb {
          background: no-repeat center center/100% url("./images/tracker-beziehungen-interactive.png");
        }
      }

      @media only screen and (max-width: 400px) {
        .subtitle {
          margin: 40px 30px !important;
        }
      }
    }
  }

  .maritalStatus .beziehungen {
    background: $white;

    .subtitle {
      color: $subtitle;
      font-weight: normal;
      line-height: 35px;
    }

    .question-overlay {
      height: 240px;
      width: 100%;
      margin-bottom: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      span {
        font-size: 0.5em;
      }

      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
      }
    }

    .question {
      min-height: 140px;
      color: $white;
      opacity: 1;
      padding: 0;
      transform: rotate(-10deg) scale(1.1) translateY(25px) translateX(-5px);

      background: transparent linear-gradient(79deg, $gradient-bg-color-1-beziehungen 0%, $gradient-bg-color-2-beziehungen 100%) 0 0 no-repeat padding-box;
      -webkit-backface-visibility: hidden;
      margin-top: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
      box-shadow: 0 3px 6px #000000A5;

      > h3 {
        line-height: 30px;
        margin: auto 30px;
      }
    }

    .progress-array {
      width: 100%;
      background: $white;
    }

    .progress-wrapper {
      opacity: 1;
      background: $white;
    }

    .progress {
      box-shadow: 0 4px 8px #0000008C;
    }

    &.basic {
      .question {
        background: transparent linear-gradient(79deg, $primary-beziehungen-basic 0%, #4A7762 100%) 0 0 no-repeat padding-box;
      }

      .question-overlay {
        &:before {
          top: -19%;
          background: no-repeat left 100%/100% url("./images/beziehungen-background-basic.jpg");
        }
      }

      .select-button, .progress {
        background: $primary-beziehungen-basic;
      }

      .submit-button.selected,
      .progress, .progress-bar-fillerÐ±.submit-button,
      .label, .select-button .label.selected, .select-button.selected {
        background: $primary-beziehungen-basic;
      }

      .slider-thumb.selected {
        background: no-repeat center center/100% url("./images/tracker-beziehungen-basic.png");
      }
    }

    &.interactive {
      .question {
        background: transparent linear-gradient(79deg, #EFA634 0%, #CD760F 100%) 0 0 no-repeat padding-box;
      }

      .question-overlay {
        &:before {
          top: -15%;
          background: no-repeat center top/100% url("./images/beziehungen-background-interactive.jpg");
        }
      }

      .select-button, .progress {
        background: $primary-beziehungen-interactive;
        color: #191919;
      }

      .slider-thumb.selected {
        background: no-repeat center center/100% url("./images/tracker-beziehungen-interactive.png");
      }
    }

    &.hedonistic {
      .question {
        background: transparent linear-gradient(79deg, #E28D9D 0%, #C3324D 100%) 0 0 no-repeat padding-box;
      }

      .question-overlay {
        &:before {
          top: -26%;
          background: no-repeat center top/100% url("./images/beziehungen-background-hedonistic.jpg");
        }
      }

      .select-button, .progress {
        background: $primary-beziehungen-hedonistic;
      }

      .slider-thumb.selected {
        background: no-repeat center center/100% url("./images/tracker-beziehungen-hedonistic.png");
      }
    }

    .select-button {
      &:active {
        background: $selected-beziehungen;
      }
    }

    @media only screen and (max-width: 400px) {
      .question > h3 {
        padding: 0 15px;
        font-size: 21px;
      }

      .subtitle {
        margin: 0 30px 10px;
      }
    }
  }
}
