@import "src/UiWiWidget/styles/abstracts/_variables";

#UiWiWidget {
  .income.Result {
    .income {
      .result-label {
        font: 1.2em/1em Arial;
        display: block;
        text-align: left;

        &.selected {
          font-weight: 600;
        }
      }

      .choice-tab {
        font: normal normal normal 20px/23px Arial;
        text-align: left;
        padding: 10px 0 3px 10px;

        &.selected {
          font-weight: 600;
        }
      }

      .result-progress-bar {
        .progress-bar-label {
          width: inherit;

          .slider-wrapper .slider-bar-wrapper {
            height: 20px;
            box-shadow: 0 2px 5px #737373;
          }

          .slider-wrapper {
            background: #878787 0 0 no-repeat padding-box;
          }
        }

        .progress-bar-filler {
          display: flex;
          align-items: center;
        }
      }

      .slider-bar-wrapper {
        background: $result-bars-stereotypes;
        box-shadow: 0 1px 3px #737373;
      }

      .choice-tab {
        font-size: 20px;
      }

      .round {
        height: 15px;

        .progress-bar {
          height: inherit;
          width: 87%;
          text-align: left;
          display: flex;
          align-items: center;
          position: relative;
          border: 1px solid $progress-bar-filler-grey !important;

          .progress-bar-label {
            position: absolute;
          }
        }
      }

      .progress-bar-filler {
        box-shadow: 0 3px 6px #0000004D;
      }

      .progress-bar-filler {
        background: $progress-bar-filler-grey;
      }

      .top-labels-container {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        span {
          font-size: 15px;
          font-weight: bold;
          //width: 30%;
          line-height: 18px;
        }

        //:first-of-type {
        :first-of-type {
          text-align: left;
        }

        :last-child {
          text-align: right;
        }
      }

      .slider-thumb {
        width: 40px;
        height: 65px;
        background: no-repeat center center/100% url("./images/tracker-gray.png");

        .selected {
          background: no-repeat center center/100% url("./images/income-tracker-basic.png");
        }
      }

      .result-progress-bar {
        margin: 10px 0;

        .result-label {
          font: normal normal normal 20px/23px Arial;

          &.selected {
            font-weight: 600;
          }
        }

        .slider-bar-wrapper {
          position: relative;
        }

        .slider-wrapper {
          .slider-bar-wrapper {
            height: 20px;

            .label-value {
              position: absolute;
              top: 4px;
              right: 5px;
              color: $white;
              font-weight: normal;

              &.selected {
                font-weight: bold;
              }
            }
          }
        }
      }

      &.basic {
        .slider-thumb {
          &.selected {
            background: no-repeat center center/100% url("./images/income-tracker-basic.png");
          }
        }
      }

      &.interactive {
        .slider-thumb {
          &.selected {
            background: no-repeat center center/100% url("./images/income-tracker-interactive.png");
          }
        }
      }

      &.hedonistic {
        .slider-thumb {
          &.selected {
            background: no-repeat center center/100% url("./images/income-tracker-hedonistic.png");
          }
        }
      }
    }
  }

  .income.selectGroup {
    .income {
      .question > h3 {
        font-size: 22px;
      }

      .subtitle {
        font-size: 22px;
        margin: 20px auto !important;

        @media only screen and (max-width: 400px) {
          font-size: 20px;
          line-height: 28px;
          margin: 0 20px 20px 20px !important;
        }
      }

      .income-choices {
        .select-button {
          border-radius: 0;
          box-shadow: 0 2px 6px #737373;
          width: 134px;
          display: inline-grid;
          line-height: 1em;
          align-items: center;
          min-width: 150px;
          min-height: 50px;
          font-size: 20px;
          margin: 4px 8px;
        }
      }

      .select-button {
        border-radius: 0;
        box-shadow: 0 2px 6px $grill-box-shadow;
        width: 105px;
        padding: 5px 0 5px 0;
        margin: 0 0 10px 12px;
      }
    }
  }

  .income {
    .income {
      background: $white;

      h3 {
        line-height: 30px;
      }

      .question-overlay {
        margin-bottom: 75px;
      }

      .question {
        min-height: 140px;
        color: $white;
        opacity: 1;
        padding: 0;
        transform: rotate(-8deg) scale(1.1, 1.1) translate(0, 20px);
        background: transparent linear-gradient(257deg, red 30%, blue 100%) 0 0 no-repeat padding-box;
        -webkit-backface-visibility: hidden;
        margin-top: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        box-shadow: 0 3px 6px #000000A5;
      }

      .subtitle {
        color: $subtitle;
        font-weight: normal;
        line-height: 35px;
      }

      .question-overlay {
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          top: -30%;
        }

        position: relative;
        z-index: 0;
        height: 240px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          font-size: 0.5em;
        }
      }

      .question {
        min-height: 140px;
        color: $white;
        opacity: 1;
        padding: 0;
        transform: rotate(-10deg) scale(1.1, 1.1) translate(-2px, 25px);
        background: transparent linear-gradient(257deg, red 30%, blue 100%) 0 0 no-repeat padding-box;
        -webkit-backface-visibility: hidden;
        margin-top: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        box-shadow: 0 3px 6px #000000A5;
      }

      .slider-wrapper .slider-thumb {
        width: 52px;
        height: 92px;
        border-radius: 0;
        //background: no-repeat center center/100% url("./images/income-tracker.png");
      }

      .progress-array {
        width: 100%;
        background: $white;
      }

      .progress-wrapper {
        opacity: 1;
        background: $white;
      }

      .select-button:active {
        background: $selected-income !important;
      }

      &.basic {
        .question-overlay {
          &:before {
            background: no-repeat 130% top/140% url("./images/income-background-basic.jpeg");
            transform: rotate(8deg) scale(1.35);
          }
        }

        .question {
          background: transparent linear-gradient(79deg, $primary-income-basic 0%, #789968 100%) 0 0 no-repeat padding-box;
        }

        .submit-button,
        .progress,
        .label, .select-button {
          background: $primary-income-basic;
        }

        .slider-wrapper .slider-thumb {
          background: no-repeat center center/100% url("./images/income-tracker-basic.png");
        }
      }

      &.interactive {
        .question-overlay {
          &:before {
            background: no-repeat center bottom/100% url("./images/income-background-interactive.jpg");
            top: -10%;
          }
        }

        .question {
          background: transparent linear-gradient(79deg, #969994 0%, $primary-income-interactive 100%) 0 0 no-repeat padding-box;
        }

        .submit-button,
        .progress,
        .label, .select-button {
          background: $primary-income-interactive;
        }
      }

      &.hedonistic {
        .question-overlay {
          &:before {
            background: no-repeat center -190%/120% url("./images/income-background-hedonistic.jpg");
          }
        }

        .question {
          background: transparent linear-gradient(79deg, #D8DBCC 0%, $primary-income-hedonistic 100%) 0 0 no-repeat padding-box;
        }

        .submit-button,
        .progress,
        .label, .select-button {
          background: $primary-income-hedonistic;
        }
      }
    }
  }
}
