@import "src/UiWiWidget/styles/abstracts/_variables";

#UiWiWidget {
  .gender.Result {
    .stereotypes {
      .result-label {
        font: 1.2em/1em Arial;
        display: block;
        text-align: left;

        &.selected {
          font-weight: 600;
        }
      }

      .choice-tab {
        font: normal normal normal 20px/23px Arial;
        text-align: left;
        padding: 10px 0 3px 10px;

        &.selected {
          font-weight: 600;
        }
      }

      .result-progress-bar {
        .progress-bar-label {
          width: inherit;

          .slider-wrapper .slider-bar-wrapper {
            height: 20px;
            box-shadow: 0 2px 5px #737373;
          }

          .slider-wrapper {
            background: #878787 0 0 no-repeat padding-box;
          }
        }

        .progress-bar-filler {
          display: flex;
          align-items: center;
        }
      }

      .slider-bar-wrapper {
        background: $result-bars-stereotypes;
        box-shadow: 0 1px 3px #737373;
      }

      .choice-tab {
        font-size: 20px;
      }

      .round {
        height: 15px;

        .progress-bar {
          height: inherit;
          width: 87%;
          text-align: left;
          display: flex;
          align-items: center;
          position: relative;
          border: 1px solid $progress-bar-filler-grey !important;

          .progress-bar-label {
            position: absolute;
          }
        }
      }

      .progress-bar-filler {
        box-shadow: 0 3px 6px #0000004D;
      }

      .progress-bar-filler {
        background: $progress-bar-filler-grey;
      }

      .top-labels-container {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        span {
          font-size: 15px;
          font-weight: bold;
          //width: 30%;
          line-height: 18px;
        }

        //:first-of-type {
        :first-of-type {
          text-align: left;
        }

        :last-child {
          text-align: right;
        }
      }

      .slider-thumb {
        width: 30px;
        height: 45px;
        background: no-repeat center center/100% url("./images/tracker-gray.png");

        .selected {
          background: no-repeat center center/100% url("./images/stereotypes-tracker.png");
        }
      }

      .result-progress-bar {
        margin: 10px 0;

        .result-label {
          font: normal normal normal 20px/23px Arial;

          &.selected {
            font-weight: 600;
          }
        }

        .slider-bar-wrapper {
          position: relative;
        }

        .slider-wrapper {
          .slider-bar-wrapper {
            height: 20px;

            .label-value {
              position: absolute;
              top: 4px;
              right: 5px;
              color: $white;
              font-weight: normal;

              &.selected {
                font-weight: bold;
              }
            }
          }
        }
      }

      &.basic {
        .slider-thumb {
          &.selected {
            background: no-repeat center center/100% url("./images/stereotypes-tracker-basic.png");
          }
        }
      }

      &.interactive {
        .slider-thumb {
          &.selected {
            background: no-repeat center center/100% url("./images/stereotypes-tracker-interactive.png");
          }
        }
      }

      &.hedonistic {
        .slider-thumb {
          &.selected {
            background: no-repeat center center/100% url("./images/stereotypes-tracker-hedonistic.png");
          }
        }
      }

      @media only screen and (max-width: 400px) {
        .result-label {
          font-size: 16px;
        }
      }
    }
  }

  .gender.selectGroup {
    .stereotypes {
      .question > h3 {
        font-size: 22px;
      }

      .subtitle {
        font-size: 22px;
        margin: 0 60px 20px 60px;

        @media only screen and (max-width: 400px) {
          margin: -10px 20px 20px 20px;
          font-size: 20px;
          line-height: 28px;
        }
      }

      .select-button {
        border-radius: 4px;
        box-shadow: 0 2px 6px #737373;
        width: 134px;
        display: inline-grid;
        line-height: 1em;
        align-items: center;
        min-width: 130px;
        min-height: 60px;
        font-size: 20px;
        padding: 10px 20px;
        margin: 8px;
      }
    }

  }

  //Vote-specific styling
  .gender.Vote {
    .stereotypes {
      .slider-wrapper {
        margin-top: 30px;
      }

      .slider-labels-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        font: 18px $font-default-serif;

        .left-text,
        .right-text {
          width: 20%;
          line-height: 20px;
          text-align: center;
        }
      }

      .quiz {
        position: relative;
      }

      .slider-wrapper, .slider-labels-container {
        margin: 0 auto;
      }

      .subtitle {
        margin: auto 50px;
        @media only screen and (max-width: 400px) {
          font-size: 20px;
          margin-left: 20px;
          margin-right: 20px;
        }
      }

      .slider-wrapper {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;

        .slider-outer-wrapper,
        .slider-wrapper-background,
        .slider-bar-wrapper {
          width: 100%;
        }

        .slider-bar-wrapper,
        .slider-wrapper-background {
          height: 15px;
        }

        .slider-wrapper-background {
          opacity: 0.9;
        }

        .slider-outer-wrapper {
          height: 36px;
          display: flex;
          transform: scale(1);
          cursor: pointer;
        }

        .slider-dot {
          height: 15px;
          width: 15px;
          border-radius: 15px;
        }
      }

      .label, .select-button, .label-ergebnis {
        border-radius: 0;
      }

      #renderThumb {
        bottom: -65px;
      }

      .slider-bar-wrapper {
        background: $grill-bar-color 0 0 no-repeat padding-box;
        border-radius: 4px;
      }

      span.choice-tab {
        background: none;
        display: table-cell;
        padding: 10px 10px;
        width: 86px;
        text-decoration: none;
        text-align: center;
        color: $black;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 15px;
        border-top-left-radius: 0;
        border-top-right-radius: 15px;
      }

      .progress-selected, .progresss {
        display: table-cell;
        width: 70%;
      }

      .result-progress-bar {
        .progress-bar {
          width: 85%;
        }
      }

      &.basic {
        .slider-wrapper .slider-thumb {
          background: no-repeat center center/100% url("./images/stereotypes-tracker-basic.png");
        }
      }

      &.interactive {
        .slider-wrapper .slider-thumb {
          background: no-repeat center center/100% url("./images/stereotypes-tracker-interactive.png");
        }
      }

      &.hedonistic {
        .slider-wrapper .slider-thumb {
          background: no-repeat center center/100% url("./images/stereotypes-tracker-hedonistic.png");
        }
      }
    }
  }

  .stereotypes {
    background: $white;

    h3 {
      line-height: 30px;
    }

    .question-overlay {
      margin-bottom: 90px;
    }

    .submit-button.selected,
    .progress, .progress-bar-filler {
      background: $primary-stereotypes;
    }

    .submit-button,
    .label, .select-button {
      background: $primary-stereotypes;
    }

    .subtitle {
      color: $subtitle;
      font-weight: normal;
      line-height: 35px;
    }

    .question-overlay {
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: no-repeat center center/90% url("./images/stereotypes-background-relatedness.jpeg");
        width: 100%;
        height: 100%;
        top: -30%;
      }

      position: relative;
      z-index: 0;
      height: 240px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        font-size: 0.5em;
      }
    }

    .question {
      min-height: 140px;
      color: $white;
      opacity: 1;
      padding: 0;
      transform: rotate(-8deg) scale(1.1, 1.1) translate(0, 20px);
      background: transparent linear-gradient(257deg, $gradient-bg-color-1-stereotypes 30%, $gradient-bg-color-2-stereotypes 100%) 0 0 no-repeat padding-box;
      -webkit-backface-visibility: hidden;
      margin-top: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
      box-shadow: 0 3px 6px #000000A5;
    }

    .slider-wrapper .slider-thumb {
      width: 52px;
      height: 92px;
      border-radius: 0;
      background: no-repeat center center/100% url("./images/stereotypes-tracker.png");
    }

    .progress-array {
      width: 100%;
      background: $white;
    }

    .progress-wrapper {
      opacity: 1;
      background: $white;
    }

    &.basic {
      .question-overlay {
        &:before {
          background: no-repeat right -10%/105% url("./images/stereotypes-background-basic.jpg");
          transform: rotate(-15deg) scale(1.15);
        }
      }

      .question {
        background: transparent linear-gradient(79deg, #DFAB94 0%, #017EE7 100%) 0 0 no-repeat padding-box;
      }

      .submit-button,
      .progress,
      .label, .select-button {
        background: $primary-stereotypes-interactive;
      }
    }

    &.interactive {
      .question-overlay {
        &:before {
          background: no-repeat center center/110% url("./images/stereotypes-background-interactive.jpg");
          top: -8%;
        }
      }

      .question {
        background: transparent linear-gradient(79deg, #5C7892 0%, #B04A58 100%) 0 0 no-repeat padding-box;
      }

      .submit-button,
      .progress,
      .label, .select-button {
        background: $primary-stereotypes-interactive;
      }
    }

    &.hedonistic {
      .question-overlay {
        &:before {
          background: no-repeat 100% center/110% url("./images/stereotypes-background-hedonistic.jpg");
        }
      }

      .question {
        background: transparent linear-gradient(89deg, #E3467D 0%, #762327 100%) 0 0 no-repeat padding-box;
      }

      .submit-button,
      .progress,
      .label, .select-button {
        background: $primary-stereotypes-hedonistic;
      }
    }

    &.relatedness {
      .question-overlay {
        &:before {
          left: -2%;
          transform: rotate(-15deg) scale(1.2);
          background: no-repeat right -10%/105% url("./images/stereotypes-background-relatedness.jpeg");
        }
      }
    }

    .select-button {
      &:active {
        background: $selected-stereotypes;
      }
    }

    @media only screen and (max-width: 400px) {
      .question > h3 {
        padding: 0 10px;
      }
    }
  }
}
