@import "src/UiWiWidget/styles/abstracts/_variables";

#UiWiWidget {
  .age.Result {
    .wiesn {
      .result-label {
        display: block;
        font: 1.2em/1em Arial;
        text-align: left;

        &.selected {
          font-weight: 600;
        }
      }

      .subtitle {
        margin-top: 40px;
      }

      .choice-tab {
        font: normal normal normal 20px/23px Arial;
        text-align: left;
        padding: 10px 0 3px 10px;

        &.selected {
          font-weight: 600;
        }
      }

      .result-progress-bar {
        .progress-bar-label {
          width: inherit;
        }

        .progress-bar-filler {
          display: flex;
          align-items: center;
        }
      }

      .choice-tab {
        font-size: 20px;
      }

      .progress-bar {
        border: 1px solid $result-progress-bar-standard-wiesn !important;
      }

      .round {
        .progress-bar {
          height: inherit;
          width: 87%;
          text-align: left;
          display: flex;
          align-items: center;
          position: relative;
          border: 1px solid $progress-bar-filler-grey !important;

          .progress-bar-label {
            position: absolute;
          }
        }
      }

      .progress-bar-filler {
        box-shadow: 0 3px 6px #0000004D;
      }

      .question > h3 {
        padding: 0 60px;
      }

      &.basic {
        .progress-selected > .round > .progress-bar {
          border: 1px solid #FD2A52 !important;

          .progress-bar-filler {
            background: #FD2A52;
          }
        }
      }

      &.interactive {
        .progress-selected > .round > .progress-bar {
          border: 1px solid $primary-wiesn-interactive !important;
        }
      }

      &.hedonistic {
        .progress-selected > .round > .progress-bar {
          border: 1px solid $primary-wiesn-hedonistic !important;
        }
      }
    }
  }

  .age.selectGroup {
    .wiesn {
      .subtext {
        font-size: 22px;
        margin: 20px 0 10px 0;
      }

      .select-button {
        margin: 5px;
        padding: 5px 0;
      }

      .result-progress-bar {
        margin-top: 27px;

        .progress-bar {
          width: 85%;
          height: 20px;

          .progress-bar-filler {
            background: $progress-bar-filler-grey;
          }
        }
      }
    }
  }

  .age.Vote {
    .wiesn {
      .slider-labels-container {
        width: 85%;
        display: flex;
        justify-content: space-between;
        font: 18px $font-default-serif;
        @media only screen and (max-width: 400px) {
          font-size: 14px !important;
        }
      }

      .left-text,
      .right-text {
        width: 30%;
        text-align: center;
        line-height: 20px;
      }

      .quiz {
        position: relative;
      }

      .subtitle {
        @media only screen and (max-width: 400px) {
          font-size: 20px !important;
          line-height: 28px !important;
        }

        > div {
          @media only screen and (max-width: 400px) {
            font-size: 20px !important;
            line-height: 28px !important;
          }
        }
      }

      .subtitle, .slider-wrapper, .slider-labels-container {
        margin: 0 auto;
      }

      .slider-wrapper {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 55px;

        .slider-outer-wrapper,
        .slider-wrapper-background,
        .slider-bar-wrapper {
          width: 100%;
        }

        .slider-bar-wrapper,
        .slider-wrapper-background {
          height: 15px;
        }

        .slider-wrapper-background {
          opacity: 0.9;
        }

        .slider-outer-wrapper {
          height: 36px;
          display: flex;
          transform: scale(1);
          cursor: pointer;
        }

        .slider-dot {
          height: 16px;
          width: 16px;
          border-radius: 16px;
          margin-top: -1px !important;
        }
      }

      .question-overlay {
        margin-bottom: 41px;

        .question {
          h3 {
            font-size: 25px;
            margin: 0 20px;
          }
        }
      }

      .question:before {
        background-position: 50% 50%;
        background-size: cover;
      }

      .question, .question:before {
        min-height: 242px;
        clip-path: ellipse(65% 100% at 50% 0%);
        //background: rgba(87, 86, 86, 0.8);
      }

      .subtitle {
        font-weight: 600;
        margin: 40px 20px 30px 20px;
      }

      .slider-wrapper {
        .slider-bar-wrapper {
          background: #BCBABC;

          .slider-thumb {
            z-index: -1;
          }
        }
      }

      &.basic {
        .subtitle {
          margin: 40px 20px 50px 20px !important;
        }
      }
    }
  }

  //General, not component-specific styling
  .age {
    .wiesn {
      .question:before {
        opacity: 0.6;
        background-image: url("./images/wiesn-background.jpeg");
        background-position: 50% 50%;
        background-size: cover;
      }
    }
  }

  .wiesn {
    .question, .question:before {
      clip-path: ellipse(55% 100% at 50% 0%);
      background: rgba(87, 86, 86, 0.8);
    }

    .slider-wrapper .slider-thumb {
      width: 67px;
      height: 67px;
      border-radius: 0;
    }

    button.selected, .label.selected, .select-button:active {
      background-color: $active-wiesn;
    }

    .label, .select-button {
      min-width: 105px;
    }

    .progress-bar-filler {
      background: $progress-bar-filler-grey;
    }

    &.oldBasic {
      .slider-wrapper .slider-thumb {
        background: no-repeat center center/100% url("./images/tracker-brown.png");
      }

      .progress, .label-ergebnis,
      .slider-dot, .label, .select-button {
        background: $primary-wiesn-oldBasic;
      }

      .progress-selected {
        .progress-bar-filler {
          background: $primary-wiesn-oldBasic;
        }
      }
    }

    .choices > .select-button:active {
      background: $selected-wiesn;
    }

    &.basic {
      .slider-wrapper .slider-thumb {
        background: no-repeat center center/100% url("./images/tracker-wiesn-basic.png");
      }

      .progress, .label-ergebnis,
      .slider-dot, .label, .select-button {
        background: $primary-wiesn-basic;
      }

      .progress-bar-filler {
        background: $result-progress-bar-standard-wiesn;
      }

      .question-overlay {
        position: relative;

        .question {
          h3, span {
            font-size: 24px;
            line-height: 33px;
            padding: 0 50px;
          }
        }
      }
    }

    &.hedonistic {
      .slider-wrapper .slider-thumb {
        background: no-repeat center center/100% url("./images/tracker-wiesn.png");
      }

      .progress, .label-ergebnis,
      .slider-dot, .label, .select-button {
        background: $primary-wiesn-hedonistic;
      }

      .progress-selected {
        .progress-bar-filler {
          background: $primary-wiesn-hedonistic;
        }
      }
    }

    &.interactive {
      .slider-wrapper .slider-thumb {
        background: no-repeat center center/100% url("./images/tracker-wiesn.png");
      }

      .progress, .label-ergebnis,
      .slider-dot, .label, .select-button {
        background: $primary-wiesn-hedonistic;
      }

      .progress-selected {
        .progress-bar-filler {
          background: $primary-wiesn-hedonistic;
        }
      }
    }

    &.oldBasic {
      .question:before {
        background-image: url("./images/wiesn-background-oldBasic.jpg");
      }
    }

    &.basic {
      .question:before {
        background-image: url("./images/wiesn-background-basic.jpg");
      }
    }

    &.interactive {
      .question:before {
        opacity: 0.4;
        background-image: url("./images/wiesn-background-interactive.jpg");
      }
    }

    &.hedonistic {
      .question:before {
        background-image: url("./images/wiesn-background-hedonistic.jpg");
      }
    }

    .progress-array, .progress-wrapper {
      background: $white;
      opacity: 1;
      width: 100%;
    }

    .label, .select-button, .progress-bar, .progress-bar-filler {
      box-shadow: 0 3px 6px $box-shadow;
    }

    .result-progress-bar {
      margin-top: 10px;
    }

    .question-overlay {
      position: relative;

      .question {
        h3, span {
          color: $white;
          margin: 15px;
        }
      }
    }

    .subtitle {
      color: $subtitle;
      line-height: 35px;
      font-weight: normal;
    }

    .confirm-button, .subtext {
      color: $white;
    }

    .submit-button {
      border-radius: 26px;
      margin-top: 17px;
      width: 200px;
      background: $button-wiesn;
      font: normal normal normal 20px/23px Arial;
      color: $white;
      border: none;
    }
  }
}
